*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background: #e9eaea;
    font-family: roboto;
    user-select: none;
  }

  header { 
    background: rgb(77, 109, 119);
    color: white;
  }

  header h2 { 
    font-size: 3vw;
    margin-left: 1%;
  }
  
  #container{
    width: 450px;
    margin: 30px auto;
  }
  
  #signup,
  #login{
    width: 50%;
    background: #fff;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
  }

  #signup:hover,
  #login:hover{
    background: lightblue;
  }
  
  #signupForm,
  #loginForm{
    background: #fff;
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: 300px;
  }
  
  .input{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    color: #3e3e40;
    font-size: 14px;
    outline: none;
    transform: all 0.5s ease;
  }
  
  .input:focus{
    border: 2px solid lightblue;
  }
  
  .btn{
    width: 100%;
    background: lightblue;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .btn2 { 
    width: 12%;
    background: lightblue;
    height: 25px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .btn:hover{
    background: blue;
  }
  
  span a{
    text-decoration: none;
    color: #000;
  }

  .checkbox{
    margin: 5px;
    margin-bottom: 7px;
    margin-top: 2px;
  }

  main{
    padding: 20px;
  }

  #historyHeader{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    background: rgb(77, 109, 119);
    color: #e9eaea;
    height: 50px;
    width: 100%;


  }


  #historyTable{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin: auto;
    background-color: #fff;
    width: 70%;
  }

  #historyTable th{
    text-align: center;

  }

  #historyTable tr{
    line-height: 45px;
    text-align: right;

  }

  #tableTitle{
    color: rgb(77, 109, 119);
    font-size: 25pt;
    font-weight:bold;

  }


  .btn3 { 
    margin-top: .5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 20%;
    max-width: 200px;
    min-height: 25px;
    background: lightblue;
    height: auto;
    text-align: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: .1vw;
  }

  .btn3:hover{
    color: #000;
    background-color: #e9eaea;
  }

  #transactionTable, #budgetTable, #transactionInput { 
    background-color: white;
    border-radius: 5px;
    padding: 2%;
    font-size: 1.9vw;
  }

  #budgetTable { 
    margin: 5% 0% 0% 10%;
    /* top, right, bottom, left */
    float: left;
    width: 35vw;
  }

  #transactionTable, #transactionInput { 
    margin: 5% 10% 0% 52%;
    /* top, right, bottom, left */
    float: none;
  }

  #transactions { 
    margin-left: 5%;
  }

  #transactions button, #budgetTable button { 
    font-size: 1.5vw;
    width: 10vw;
    margin: 2%;
  }

  #transactions table, #budgetTable table { 
    margin: auto;
    float: none;
  }

  #head button {
    margin: 1%;
    font-size: 1.3vw;
    height: 4vh;
  }
